<div class = "home-page">
    <header>
        <a href="../app/marcos.html">Marcos</a>
        <a href="../app/harsh.component.html">Harsh</a>
        <a href="../app/jamaal.component.html">Jamaal</a>
        <a href="../app/Gabriel.component.html">Gabriel</a>
    </header>
    <div class = "home-message">
        <h1> Welcome to our Revature Group</h1>
        <img src = "https://s3-us-west-2.amazonaws.com/cbi-image-service-prd/modified/d4e3de47-e793-44b5-9ef4-63210d8a2d93.png" height="200" width="300">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a nunc ut nunc egestas tempus id eu neque. Vivamus aliquet varius pellentesque. Integer aliquet magna sed arcu condimentum rhoncus. Etiam magna sem, rhoncus nec odio vel, finibus volutpat lectus. Quisque arcu quam, congue eget purus sit amet, egestas vehicula leo.</p>
    </div>
</div>
